@page "/Credits" 
@inject IJSRuntime JSRuntime
@inject NavigationManager _nav
<main>
    <h1>Siedler von Catan - Credits</h1>
    <article>
        <strong>Spielidee und Konzept:</strong>
        Klaus Teuber - Siedler von Catan
    </article>

    <article>
        <strong>Spieldesign und Regeln:</strong>
        Momoluck
    </article>

    <article>
        <strong>Programmierung und Entwicklung:</strong>
        Momolúck, Rudi
    </article>

    <article>
        <strong>Grafikdesign und Illustrationen:</strong>
        Die visuelle Gestaltung orientiert sich an den klassischen Catan-Elementen.
    </article>

    <article>
        <strong>Karten- und Brettdesign:</strong>
        Momoluck, Rudi
    </article>

    <article>
        <strong>Spielbalance und Testen:</strong>
        Georg Dhdal
    </article>

    <article>
        <strong>Benutzeroberfläche (UI) Design:</strong>
        Momoluck, Rudi
    </article>

    <article>
        <strong>Fehlerbehebung und Debugging:</strong>
        Momoluck
    </article>

    <article>
        <strong>Sprach- und Textübersetzungen:</strong>
        Rudi
    </article>

    <article>
        <strong>Spielmechanik und -systeme:</strong>
        Die Grundlage der Spielmechanik basiert auf den originalen Siedler-Regeln.
    </article>

    <article>
        <strong>Prototyping und frühe Ideen:</strong>
        Momoluck
    </article>

    <article>
        <strong>Marketing und Promotion:</strong>
        Gessner Bernhard Oliver
    </article>

    <article>
        <strong>Beta-Tester und Feedbackgeber:</strong>
        Georg Dhdal
    </article>

    <article>
        <strong>Verwendete Foren:</strong>
            W3Schools, Reddit, Stackoverflow, ....
    </article>

    <article>
        <strong>Verwendete Tools und Software:</strong>
        Jetbrains Rider, Discord, Github, ....
    </article>

    <article>
        <strong>Sonderdank an Familie und Freunde:</strong>
        Danke Horchi
    </article>

    <article>
        <strong>Besondere Anerkennung für Unterstützung:</strong>
        Danke an Klaus Teuber für das ursprüngliche Spiel „Die Siedler von Catan“, das die Grundlage für dieses wunderbare Projekt bildete.
    </article>

    <button @onclick="@(()=>_nav.NavigateTo("/"))"><span>Zurück zum Hauptmenü</span></button>
</main>

@code {
    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("autoScroll.scroller");    }

}