main{
    padding: 20px;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("img/catan3.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    justify-content: center;
    background-repeat:no-repeat;
    background-size:cover;
}

h1{
    display: flex;
    justify-content: center;
    font-family: "UnifrakturCook", b;
    margin-bottom: 50px;
    font-size: 100px;
    font-weight: bold;
    color: #6e5e51;
}

article strong{
    font-size: 27px;
    color: #6e5e51; /* Green */;
    font-family: "EB Garamond", b;
}

article{
    font-size: 24px;
    margin-bottom: 100px;
    color: white;
    font-family: "EB Garamond", b;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50em;
    margin: 25px;
    border: none;
    border-radius: 8px;
    background-color: #6e5948;
    color: #fff;
    transition-duration: 0.4s;
}
button:hover{
    background-color: #7c6a56; /* Green */
    color: white;
}
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '→';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}