@page "/Gambling"
@inject NavigationManager _nav
<section>
    
    <EditForm Model="model" OnSubmit="Submit" Form Name="inoash" id="form">
        <div>
            <h3>Gambling</h3>
            <label id="label">
                <a>Gib eine Zahl ein: </a>
                <InputText @bind-Value="value" placeholder="@value2"/>
            </label>
        </div>
    </EditForm>
</section>
<style>
    label input::placeholder{
        color: #D3D3D3;
    }
</style>
@code {
    public string value { get; set; } = "";
    public string value2 { get; set; } = "";
    public string model { get; set; } = "0";
    protected override void OnInitialized()
    {
        Random random = new Random();
        model = random.Next(1, 100).ToString();  
        value2 = random.Next(1, 100).ToString();  
    }
    

    public void Submit()
    {
        if (model == value)
        {
            
            _nav.NavigateTo("/");
        }
        else
        {
            value = "";
            Random random = new Random();
            value2 = random.Next(1, 100).ToString();  
        }
    }
}