main{
    display: flex;
    flex-direction: row;
    background-image: url("./img/catan2Blurred.png");
    background-position: -100px 0px;
    background-repeat:no-repeat;
    background-size:cover
}

.tile{
    position: relative;
    transition: 0.2s;
    background-size: cover;
}
.tile a{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 2;
    font-size: 20px;
    color: rgba(255,255,255, 0.85);
}
.tile a:hover{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        z-index: 2;
        font-size: 20px;
        color: rgba(255,255,255, 0.85);
}
.non-tile{
    background-color: transparent !important;
}

article {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    --s: 130px;
    --m: 4px;
    --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px);
}

section {
    font-size: 0;
    width: calc((var(--s) + 2*var(--m))*5);
    min-width: calc((var(--s) + 2*var(--m))*5);
    max-width: calc((var(--s) + 2*var(--m))*5);
    margin-bottom: 10px;
}

section div {
    width: var(--s);
    min-width: var(--s);
    margin: var(--m);
    height: calc(var(--s) * 1.1547);
    display: inline-block;
    font-size: initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: calc(var(--m) - var(--s) * 0.2885);
    background: #000000;
    text-align: center;
    vertical-align: middle;
    line-height: 9.5em;
    position: relative;
}

section::before {
    content: "";
    width: calc(var(--s) / 2 + var(--m));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
    pointer-events: none;
}

.non-tile{
    background: #ffffff;
}

#top_grid{
    position: relative;
    top: -5px;
    background-color: transparent !important;
}

main {
    height: 100vh;
}

#top_grid_1, #top_grid_2, #top_grid_3, #top_grid_4, #top_grid_5, #top_grid_6, #top_grid_7, #top_grid_8, #top_grid_9,
#top_grid_10, #top_grid_11, #top_grid_12, #top_grid_13, #top_grid_14, #top_grid_15, #top_grid_16, #top_grid_17,
#top_grid_18, #top_grid_19, #top_grid_20, #top_grid_21, #top_grid_22, #top_grid_23, #top_grid_24, #top_grid_25,
#top_grid_26, #top_grid_27, #top_grid_28, #top_grid_29, #top_grid_30, #top_grid_31,#top_grid_32,#top_grid_33,#top_grid_34,#top_grid_35,#top_grid_36{
    position: relative;
    margin : 0;
    content: unset;
    border-radius: 50%;
    height: calc(var(--s) - 120px);
    width: calc(var(--s) - 120px);
    min-width: calc(var(--s) - 120px);
    clip-path: unset;
    transition-duration: 0.5s !important;
}
#top_grid_37{
    position: relative;
    margin : 0;
    content: unset;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    min-width: 20px;
    min-height: 20px;
    clip-path: unset;
    transition-duration: 0s !important;
}


#top_grid_line_0,#top_grid_line_1, #top_grid_line_2, #top_grid_line_3, #top_grid_line_4, #top_grid_line_5, #top_grid_line_6, #top_grid_line_7, #top_grid_line_8, #top_grid_line_9,
#top_grid_line_10, #top_grid_line_11, #top_grid_line_12, #top_grid_line_13, #top_grid_line_14, #top_grid_line_15, #top_grid_line_16, #top_grid_line_17,
#top_grid_line_18, #top_grid_line_19, #top_grid_line_20, #top_grid_line_21, #top_grid_line_22, #top_grid_line_23, #top_grid_line_24, #top_grid_line_25,
#top_grid_line_26, #top_grid_line_27, #top_grid_line_28, #top_grid_line_29, #top_grid_line_30, #top_grid_line_31,#top_grid_line_32,#top_grid_line_33,#top_grid_line_34,#top_grid_line_35,#top_grid_line_36,#top_grid_line_37,#top_grid_line_38,#top_grid_line_39,#top_grid_line_40,#top_grid_line_41,#top_grid_line_42{
    position: relative;
    margin : 0;
    content: unset;
    border-radius: 10px;
    height: calc(var(--s) - 80px);
    width: calc(var(--s) - 123px);
    min-width: calc(var(--s) - 123px);
    clip-path: unset;
    transition-duration: 0.5s !important;
}
#top_grid_line_2{
    transform: rotate(-60deg)
}

#top_grid_line_3{
    transform: rotate(60deg)
}

#top_grid_line_4{
    transform: rotate(-60deg)
}

#top_grid_line_5{
    transform: rotate(60deg)
}

#top_grid_line_6{
    transform: rotate(-60deg)
}

#top_grid_line_7{
    transform: rotate(60deg)
}

/* --- new row --- */

#top_grid_line_11{
    transform: rotate(-60deg)
}

#top_grid_line_12{
    transform: rotate(60deg)
}

#top_grid_line_13{
    transform: rotate(-60deg)
}

#top_grid_line_14{
    transform: rotate(60deg)
}

#top_grid_line_15{
    transform: rotate(-60deg)
}

#top_grid_line_16{
    transform: rotate(60deg)
}

#top_grid_line_17{
    transform: rotate(-60deg)
}

#top_grid_line_18{
    transform: rotate(-60deg)
}

#top_grid_line_18{
    transform: rotate(60deg)
}

/* --- new row --- */

#top_grid_line_23{
    transform: rotate(60deg)
}

#top_grid_line_24{
    transform: rotate(-60deg)
}

#top_grid_line_25{
    transform: rotate(60deg)
}

#top_grid_line_26{
    transform: rotate(-60deg)
}

#top_grid_line_27{
    transform: rotate(60deg)
}

#top_grid_line_28{
    transform: rotate(-60deg)
}

#top_grid_line_29{
    transform: rotate(60deg)
}

#top_grid_line_30{
    transform: rotate(-60deg)
}

/* --- new row --- */

#top_grid_line_34{
    transform: rotate(60deg)
}

#top_grid_line_35{
    transform: rotate(-60deg)
}

#top_grid_line_36{
    transform: rotate(60deg)
}

#top_grid_line_37{
    transform: rotate(-60deg)
}

#top_grid_line_38{
    transform: rotate(60deg)
}

#top_grid_line_39{
    transform: rotate(-60deg)
}
address{
    display: flex;
    min-width: 172px;
    max-width: 172px;
    flex-direction: column;
    justify-content: space-between;
}

#activePlayer{
    padding: 12px;
    border-radius: 5px;
    min-height: 13%;
    margin-left: 10px;
    margin-top: 5px;
    max-width: 175.48px;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    background: #D37B55;
}

#activePlayer h4{
    font-size: 32px;
    text-decoration: underline 1px solid;
}

#activePlayer a{
    font-size: 20px;
}

.inactivePlayer{
    display: inline-block;
    padding: 12px;
    border-radius: 5px;
    margin:5px;
    min-height: 7%;
    margin-left: 10px;
    margin-top: 5px;
    min-width: 140px;
    max-width: 140px;
    background-color: #eda363;
    
    white-space: normal;
    overflow-wrap: break-word;   
   word-break: break-word;
}

.inactivePlayer h4{
    font-size: 16px;
    text-decoration: underline 1px solid;
}

.inactivePlayer a{
    font-size: 10px;
}

aside{
    height: 100%;
    width: 20vw;
    background-color: #b68b69;
    border: none;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

aside nav{
    height: 6%;
    width: 95%;
    margin: auto;
    margin-top: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #83634A;
    
}

aside nav button{
    width: 22%;
    height: 80%;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #83634A;  
    transition: all 0.1s ease-in-out;

}

aside nav button:hover{;
    background-color: #83634A;
    text-decoration: underline;
}

#switchable{
    height:84%;
    border-radius: 8px;
    margin: 8px;
    background-color: #826249;
    padding: 2%
    
}

#nextPlayerButton{
    width: 95%;
    height : 7.5%;
    margin: auto;
    margin-top: 8px;
}

#nextPlayerButton button{
    height: 90%;
    width: 100%;
    margin: auto;
    border: none;
    border-radius: 8px;
    background-color: #83634A;
    color: white
    
}

#nextPlayerButton button:hover{
    background-color: #af7e69;
    text-decoration: underline;
}

.ressource{
    width: 125%;
    height: 12vh;
    display: flex;
    margin-left: -100px;
    
}

.ressourceCard img{
    height: 40%;
}

.ressourceCard{
    border-radius: 8%;
    height: 95%;
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://www.transparenttextures.com/patterns/paper.png');
    background-blend-mode: multiply;
    border: 0.4px solid black;
    margin:0px;
    position: relative;
    z-index: 1;
    margin-left: -50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    max-width: 20%;
    transition: all 0.3s ease;
    padding: 10px;
    flex-wrap: wrap;
}
.ressourceCard:hover {
    transform: translateY(-20px);      
    margin-right: 50px;                
    z-index: 10;                       
}

.ressourceCard h3{
    color: black;
    height: 30%;
    font-size: 120%;
}
.ressourceCard:first-child {
    margin-left: 110px;
}

#specialCardCorner{
    width: 125%;
    height: 12vh;
    display: flex;
    margin: 20%;
    margin-left: -100px !important;
}

.specialCard{
    font-size: 60% !important;
    background-color: #ffdb00;
}

#winnerOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 9999;
    display: none;
    align-items: center;
    justify-content: center;
}

#winnerOverlay footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    flex-direction: column;
    width: 30%;
    height: 30%;
    background-color: #b68b69;
}

#winnerName{
    color: white;
    font-size: 250%;
    background-color: #83634A;
    width: 95%;
    height: 20%;
    margin-bottom: 1%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

#otherSuccesses{
    width: 95%;
    height: 67%;
    border-radius: 4px;
    background-color: #83634A;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.5%;
}

#otherSuccesses p{
    font-size: 20px;
    color: white;
}

#fancyButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 20em;
    border: none;
    border-radius: 8px;
    background-color: #c5523b;
    color: #fff;
    transition-duration: 0.4s;
    align-self: center !important;
}
#fancyButton:hover{
    background-color: #F2AC57; 
    color: white;
}
#fancyButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#fancyButton span:after {
    content: '→';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
#fancyButton:hover span {
    padding-right: 25px;
}

#fancyButton:hover span:after {
    opacity: 1;
    right: 0;
}

#developmentBuy{
    width: 90%;
    padding: 12px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 5px;
    background-color: #DAB45F;
    border: 2px solid black
}

#developmentBuy:hover{
    background-color: #d6ab4b;
    text-decoration: underline;
}

.WoodCard{
    background-color: #6c5429;
}

.ClayCard{
    background-color: #873914; 
}

.SheepCard{
    background-color: #ffffff;
}

.WheatCard{
    background-color: #DDB72D;
}

.OreCard{
    background-color: #ae8a32;
}

.used{
    filter: grayscale(65%);
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}