label{
}
span{
    margin-right: 10px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

    /*Wie heißt de Zwiebel do*/
#submitbutton:hover {
    background-color: #07d187; /* Green */
    border-radius: 10px;
}
#submitbutton {
    transition-duration: 0.4s;
    width: 100px;
    font-family: "EB Garamond", b;
    background-color: #04AA6D; /* Green */
    color: #fff;
    border-radius: 5px;
    border: 1px solid #555555;
}
#submitbutton:disabled {
    background-color: #A0D5BE;
    border-radius: 10px;
    cursor: not-allowed;
}
#submitbutton:disabled:hover {
    background-color: #A0D5BE;
    border-radius: 10px;
    cursor: not-allowed;
}

a{
    color: #555555;
    text-decoration: underline;
    font-family: "EB Garamond", b;
    text-decoration-color: #555555;
}
