main{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url("./img/catan2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-repeat:no-repeat;
    background-size:cover
}

h1{
    display: flex;
    justify-content: center;
    font-family: "UnifrakturCook", b;
    margin-top: 50px;
    font-size: 100px;   
    font-weight: bold;
    color: #A96F4A;
}

span{
    margin-right: 10px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

h4{
    color: white;
}

    /*Wie heißt de Zwiebel do*/
#submitbutton:hover {
    background-color:  #af7e69;
}
#submitbutton {
    transition-duration: 0.4s;
    width: 100%;
    background-color: #83634A;
    color: #fff;
    border-radius: 5px;
    border:none;
    text-decoration: underline solid white 1px;
}
#submitbutton:disabled {
    background-color: #712a2a;
    border-radius: 5px;
    cursor: not-allowed;
}
#submitbutton:disabled:hover {
    background-color: #712a2a;
    border-radius: 5px;
    cursor: not-allowed;
}

a{
    color: white;
    text-decoration: underline;
    text-decoration-color: #555555;
}
 
#label{
    color: white;
}

section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.color-picker {
    margin-top: 20px;
}
.selected-color {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    width: 200px;
    text-align: center;
    background-color: #fff;  /* Standard-Hintergrundfarbe */
}