@page "/NameSelect"
@using Catan.MainGame.MainGameloop
@using Catan.PlayerSelect
@inject NavigationManager _nav


<main>
    <h1>Spieler konfigurieren:</h1>
    @{
        PlayerNumber.Players = 2;
        var x = PlayerNumber.Players;
        Players.PlayerList.Clear();
        while (x > 0) {
            Players.PlayerList.Add(new Player("",""));
            x--;
        }
    }
    <a>@PlayerNumber.Players</a>
    @foreach (var player in Players.PlayerList) {
        <EditForm Model="player" OnValidSubmit="Submit" FormName="PlayerName">
            <label>
                Username:
                <InputText @bind-Value="player.Name"/>
            </label>
            <button type="submit">Submit</button>
        </EditForm>
    }
</main>

@code {

    public void Submit() {
        _nav.NavigateTo("/MainGame");
    }
}