h1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: "UnifrakturCook", b;
    color: #A96F4A;
    font-size: 100px;
    font-weight: bold;
    background-repeat:no-repeat;
    background-size:cover
}

main{
    background-image: url("./img/catan2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}
section {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;

}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50em;
    margin: 25px;
    border: none;

    border-radius: 8px;
    background-color: #83634A;
    color: #fff;
    transition-duration: 0.4s;
}
button:hover{
    background-color: #af7e69; /* Green */
    color: white;
}
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '→';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}
