main{
    padding: 20px;
    margin: auto;
    width: 100%;
    font-family: "EB Garamond", b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./img/catan3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

h1{
    display: flex;
    justify-content: center;
    font-family: "UnifrakturCook", b;
    margin-bottom: 50px;
    font-size: 100px;
    font-weight: bold;
    color: #555555;
}

article{
    font-size: 20px;
}

.custom-dropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
}

.custom-dropdown option {
    background-color: #ffffff;
    color: #333;
    padding: 5px;
}

.placeholder{
    height: 20px;
    width: 0;
    
}

.object{
    padding: 10px;
    border: 3px solid #04AA6D;
    border-radius: 5px;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    margin: 5px;

    border-radius: 4px;
    background-color: #555555;
    color: #fff;
    transition-duration: 0.4s;
}
button:hover{
    background-color: #04AA6D; /* Green */
    color: white;
}
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '→';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}