main{
    padding: 20px;
    justify-content: space-between;
    background-image: url("./img/catan1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-repeat:no-repeat;
    background-size:cover;
}

h1{
    display: flex;
    justify-content: center;
    font-family: "UnifrakturCook", b;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 100px;
    font-weight: bold;
    color: #645e7c;
}

article{
    font-size: 20px;
    color: white;
}

.custom-dropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
}

.custom-dropdown option {
    background-color: #ffffff;
    color: #333;
    padding: 5px;
}

.placeholder{
    height: 20px;
    width: 0;
    
}

.object{
    padding: 10px;
    border: none;
    background-color: #3E4F2B;
    border: 1px solid #363c21;
    color: white;
    border-radius: 5px;
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    margin: 5px;

    border-radius: 4px;
    background-color: #555555;
    color: #fff;
    transition-duration: 0.4s;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '→';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

#outside{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 260px;
}

#gambling_button{
    border: none;
    text-decoration: underline white 1px solid;
    background-color: #3E4F2B;
}

#gambling_button:hover{
    background-color: #638044;
}