@page "/Settings"

<main>
<h1>Einstellungen</h1>
<h3>Sprache auswählen</h3>

<EditForm Model="@formModel" class="custom-dropdown">

    <InputSelect @bind-Value="formModel.SelectedOption">
        @foreach (var option in options)
        {
            <option value="@option">@option</option>
        }
    </InputSelect>
    <article>Ausgewählte Option: @formModel.SelectedOption</article>
</EditForm>
<article>Aktuelle Version: 0.63</article>
<article></article>
</main>
@code {
    private FormModel formModel = new FormModel();
    private List<string> options = new List<string> { "Deutsch", "English", "中國人" };

    public class FormModel
    {   
        public string SelectedOption { get; set; }
    }
}