@page "/Settings"
<h3>Dropdown mit InputSelect</h3>

<EditForm Model="@formModel" class="custom-dropdown">

    <InputSelect @bind-Value="formModel.SelectedOption">
        @foreach (var option in options)
        {
            <option value="@option">@option</option>
        }
    </InputSelect>

    <p>Ausgewählte Option: @formModel.SelectedOption</p>
</EditForm>

<a>asdfasdf</a>
@code {
    private FormModel formModel = new FormModel();
    private List<string> options = new List<string> { "Option 1", "Option 2", "Option 3" };

    public class FormModel
    {   
        public string SelectedOption { get; set; }
    }
}