@page "/"
@inject NavigationManager _nav
<main style="height: 100vh">
    <h1><p>S</p><p>i</p><p>e</p><p>d</p><p>l</p><p>e</p><p>r</p> <p class="distance"></p> <p>v</p><p>o</p><p>n</p> <p class="distance"></p> <p>C</p><p>a</p><p>t</p><p>a</p><p>n</p></h1>
    
<section>
    <button @onclick="@(()=>_nav.NavigateTo("/PlayerSelect"))"><span>Spielen</span></button>
    <button @onclick="@(()=>_nav.NavigateTo("/Settings"))"><span>Einstellungen</span></button>
    <button @onclick="@(()=>_nav.NavigateTo("/Credits"))"><span>Credits</span></button>
</section>

</main>

@code {

}