main[b-tsnz8v7c6n]{
    padding: 20px;
    font-family: "EB Garamond", b;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h3[b-tsnz8v7c6n]{
    font-size: 60px;
    margin-bottom: 50px;
}

article strong[b-tsnz8v7c6n]{
    font-size: 27px;
    color: #04AA6D; /* Green */;
}

article[b-tsnz8v7c6n]{
    font-size: 24px;
    margin-bottom: 50px;
}