main[b-zh4r3tc27q]{
    padding: 20px;
}

article[b-zh4r3tc27q] {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    --s: 130px;
    --m: 4px;
    --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px);
}

section[b-zh4r3tc27q] {
    font-size: 0;
    width: calc((var(--s) + 2*var(--m))*5);
    min-width: calc((var(--s) + 2*var(--m))*5);
    max-width: calc((var(--s) + 2*var(--m))*5);
    margin-bottom: 40px;
}


section div[b-zh4r3tc27q] {
    width: var(--s);
    min-width: var(--s);
    margin: var(--m);
    height: calc(var(--s) * 1.1547);
    display: inline-block;
    font-size: initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: calc(var(--m) - var(--s) * 0.2885);
    background: #000000;
    text-align: center;
    vertical-align: middle;
    line-height: 9.5em;
}

section[b-zh4r3tc27q]::before {
    content: "";
    width: calc(var(--s) / 2 + var(--m));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
    pointer-events: none;
}
.non-tile[b-zh4r3tc27q]{
    background: #ffffff;
}
.tile[b-zh4r3tc27q]{
    transition: 0.2s;
}
.tile:active[b-zh4r3tc27q]{
    height: 50px;
}


main[b-zh4r3tc27q] {
    height: 100vh;
    padding: 10px;
}
