main[b-se1n3p28rj]{
    padding: 20px;
}

label[b-se1n3p28rj]{
}
span[b-se1n3p28rj]{
    margin-right: 10px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

    /*Wie heißt de Zwiebel do*/
#submitbutton:hover[b-se1n3p28rj] {
    background-color: #07d187; /* Green */
    border-radius: 10px;
}
#submitbutton[b-se1n3p28rj] {
    transition-duration: 0.4s;
    width: 100px;
    font-family: "EB Garamond", b;
    background-color: #04AA6D; /* Green */
    color: #fff;
    border-radius: 5px;
    border: 1px solid #555555;
}
#submitbutton:disabled[b-se1n3p28rj] {
    background-color: #A0D5BE;
    border-radius: 10px;
    cursor: not-allowed;
}
#submitbutton:disabled:hover[b-se1n3p28rj] {
    background-color: #A0D5BE;
    border-radius: 10px;
    cursor: not-allowed;
}

a[b-se1n3p28rj]{
    color: #555555;
    text-decoration: underline;
    font-family: "EB Garamond", b;
    text-decoration-color: #555555;
}
